@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700');
@import url(fontes/Oferta\ Do\ Dia.zip);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
   background-color: rgba(255, 239, 219, 1);  
  
}

cursor: url('cusor;png'), auto;


            /*barra de rolagem*/
              body::-webkit-scrollbar {
                width: 15px;     /* largura */
            }
            
            body::-webkit-scrollbar-track {
                background: rgba(54, 16, 65, 1);        /* cor de fundo */
            }
            
            body::-webkit-scrollbar-thumb {
                background-color: rgba(255, 239, 219, 1);    /* cor do polegar */
                border-radius: 100px;       /* arredondar */
                border: 3.5px solid rgba(54, 16, 65, 1);  /* creates padding around scroll thumb */
                transition: background-color 0.9s; /* animação da cor de fundo */
            }
            
            body::-webkit-scrollbar-thumb:hover {
                background-color: rgba(148, 122, 163, 1);     /* altera a cor do polegar no hover */
            }
            
            body::-webkit-scrollbar-thumb:active {
                background-color: rgba(207, 143, 56, 1)  /* altera a cor do polegar quando está ativo */
            }
      


.conteudo{
    margin-bottom: 50px ;
    /*border-top:0,4px solid #ff2e7;*/

    background-image: url(Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-size: 100% auto;
    background-color: rgba(255, 239, 219, 1);  
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;

            /*sublinhado*/
            background-image: url("Vector\ S4.svg");
            background-repeat: no-repeat;
            background-size: 390px;
            background-position: 10px 110;
}

.conteudo-principal-escrito-titulo {
    font-family:'oferta do dia';
    font-weight: 400;
    font-size: 50px;
    color: #FFF2e7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'poppins', 'sans-serif';
    font-weight: 400;
    font-size:20px;
    color: #ecd6c4;
}

.conteudo-principal-imagem{
    height: 430px;   
}

.conteudo-principal-escrito-botao{
    background-color: #ecd6c4;
    width: 350px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba ( 0, 0, 0, 0.25);
    border-radius: 20px 0px 20px;
    font-family: 'poppins', "sans-serif";
    font-weight: 400;
    font-size: 24;
    color: #2f2325;
}

            /*animação do botão*/
            .conteudo-principal-escrito-botao:hover{
                background-color: #45a049
            }

.conteudo-secundario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 270px;

            /*imagem aspas*/
            background-image: url("aspas.svg");
            background-repeat: no-repeat;
            background-size: 170px;
            background-position: 210px 0;
}

.conteudo-secundario-escrito{
    font-family: 'Space Mono';
    color: rgba(54, 16, 65, 1);
    font-weight: 400;
    font-size: 30px;
    
}

            /*destaque de texto*/
            .destaque {
                font-weight: bold;
                color: rgba(239, 137, 3, 1);
            }

.conteudo-terciario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 100px;

}

.conteudo-terciario-escrito{
    gap: 32px;
    margin-top:50px;

            /*sublinhado*/
            background-image: url("Vector\ S3\ .svg");
            background-repeat: no-repeat;
            background-size: 110px;
            background-position: 630px 50;
}
.conteudo-terciario-escrito-titulo{
    font-family: 'oferta do dia';
    font-weight: 400;
    font-size: 50px;
    color: rgba(54, 16, 65, 1);
}
        /*fubá*/
        .conteudo-terciario-escrito-titulo span {
            color: rgba(239, 137, 3, 1);
        }

.conteudo-terciario-escrito-subtitulo{
    font-family: 'poppins', 'sans-serif';
    font-weight: 400;
    font-size:20px;
    text-align: center;
    color: rgba(54, 16, 65, 1);
    margin-top: 20px;
    margin-bottom: -50px;
}

.conteudo-quartenario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 150px;
}

.conteudo-quartenario-receita-imagem{
width: 400px;
}

/*.conteudo-quartenario-overlay{
position: absolute;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 54, 0, 0.6);
  backdrop-filter: blur(1px);
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
}
*/

.conteudo-quartenario-receita {
    position: relative;
    display: inline-block;
    
  }
  
  .conteudo-quartenario-receita-imagem {
    width: 350px;
    display: block;
    
  }
  
  .conteudo-quartenario-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2;
    overflow: hidden;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 54, 0, 0.6);
    backdrop-filter: blur(1px);
    border-radius: 0px 0px 20px 20px;
    padding: 50px;
    transition: height 0.3s, padding 0.3s;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
        .conteudo-quartenario-receita:hover .conteudo-quartenario-overlay {
            height: 100%;
            padding: 20px;
            border-radius: 20px; /*mudança da radiação aberto*/
            text-align: center;
        }
  
.conteudo-quartenario-receita-titulo,
.conteudo-quartenario-receita-botao {
    font-family: 'poppins';
    font-size: 20px; /* valor ajustado para 24 pixels */
    font-weight: 500;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .conteudo-quartenario-receita:hover
  .conteudo-quartenario-receita-titulo,
  .conteudo-quartenario-receita:hover
  .conteudo-quartenario-receita-botao {
    opacity: 1;
  }
  
/*5*/

.conteudo-quintenario {
    background-image: url(roxo\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65vh; /* ajuste a altura conforme necessário */
  }
  
  .conteudo-quintenario-global {
    display: flex;
    justify-content: flex-start;
    margin-left: 140px; /*afastando elementos da margem*/
  }
  
  .conteudo-quintenario-escrito {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
  
  .conteudo-quintenario-escrito-titulo {
    font-family: 'oferta do dia';
    font-weight: 400;
    font-size: 50px;
    color: #ecd6c4;
    text-align: left;
  }
  
  .conteudo-quintenario-escrito-titulo span.destaque {
    color: rgba(239, 137, 3, 1); /* destaque */
    font-weight: 400;
  }
  
  .conteudo-quintenario-imagem {
    width: 100px; /* Ajuste a largura da imagem conforme necessário */
    height: 100px; /* Ajuste a altura da imagem conforme necessário */
    filter: invert(100%);  
}
  